@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.techniques {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0;
  list-style: none;
  gap: 60px 100px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
  object-fit: cover;

}

.cards__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.cards__description {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  text-align: center;
  margin: 0;
  margin-top: 16px;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  margin: 0;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  transition: opacity .3s linear;
  color: #2f80ed;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  object-fit: cover;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  }

.rotation {
  animation: rotation 20s infinite linear;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
 }

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 auto 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  width: 60%;
  margin: 0;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin-bottom: 100px;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: auto;
}

.table__text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  background: left bottom / 867px 637px no-repeat #f2f2f2 url("../images/feynman.png");
}

.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  width: 648px;
  margin-top: 100px;
  margin-bottom: 70px;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  line-height: 51px;
  z-index: 1;
}

.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  transition: opacity .3s linear;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
}

.feynman__link:hover {
  opacity: .5;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  overflow: hidden;
  color: white;
}

.section-title_theme_dark {
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 0;
}

.footer {
  color: white;
  display: flex;
  min-height: 350px;
  background-color:#1f1f1f;
 }

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  align-items: flex-start;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  transition: opacity .3s linear;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__column-link:hover {
  opacity: .5;
}

 .footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: white;
 }

 .footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
 }

 .video {
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .video__iframes {
  display: flex;
  margin: 50px 0 -60px;
  gap: 20px;
 }

 .video__iframe {
  width: 515px;
  height: 316px;
  border: none;
 }

.oakley {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.khan {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 105px;
}

.khan__container {
  width: 80%;
}

.khan__author{
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin: 0;
}

.khan__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.khan__quote-author {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.khan__quote-author-subline {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  margin: 10px 0 68px;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  transition: opacity .3s linear;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: .5;
}

.khan__quote {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 50px 0 36px;
  width: 790px;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resources__logo-zone {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  list-style: none;
  padding: 0;
  margin: 80px 0 217px;
}

.resources__link {
  transition: opacity .3s linear;
  display: flex;
}

.resources__link:hover {
  opacity: .5;
}

.resources__logo {
  width: 270px;
  height: 38px;
  object-fit: contain;
}
